.App {
  background-color: #282c34;
}

.navigation {
  background-image: linear-gradient( #ff0000, transparent);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 5%;
  position: absolute;
  height: 15%;
  width: 100%;
}

.navigation button{
  color: #fff;
  border-color: #fff;
  border-radius: 15px;
}

.navigation button:hover{
  color: #ff0000;
  border-color: #ff0000;
  background-color: #fff;
  
}

.App-logo {
  animation: App-logo-spin infinite 6s linear;
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
